
@model Brp.Models.ConsumerResponse
    <script type="text/javascript">
        $(".close").click(function () {
            debugger;
            $('#myModal').modal('hide');
        });
     
    </script>
@if (Model.ConsumerDetails != null)
{
    <div class="modal-dialog modal-lg no-modal-header">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Consumer Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-6"><label class="col-sm-5 text-right">ScoringID</label><label class="col-sm-5 text-left fw-bold">@Model.ConsumerDetails.ScoringID</label></div>
                            <div class="col-sm-6"><label class="col-sm-5 text-right">ConsumerName</label><label class="col-sm-6 text-left fw-bold">@Model.ConsumerDetails.ConsumerName</label></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6"><label class="col-sm-5 text-right">ConsumerEmail</label><label class="col-sm-5 text-left fw-bold">@Model.ConsumerDetails.ConsumerEmail</label></div>
                            <div class="col-sm-6"><label class="col-sm-5 text-right">ConsumerID</label><label class="col-sm-5 text-left fw-bold">@Model.ConsumerDetails.ConsumerLegacyID</label></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6"><label class="col-sm-5 text-right">EnrollmentStopped</label><label class="col-sm-5 text-left fw-bold">@Model.ConsumerDetails.EnrollmentStopped</label></div>
                            <div class="col-sm-6"><label class="col-sm-5 text-right">PartnerID</label><label class="col-sm-5 text-left fw-bold">@Model.ConsumerDetails.PartnerID</label></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6"><label class="col-sm-5 text-right">Address1</label><label class="col-sm-5 text-left fw-bold">@Model.ConsumerDetails.Address1</label></div>
                            <div class="col-sm-6"><label class="col-sm-5 text-right">Address2</label><label class="col-sm-5 text-left fw-bold">@Model.ConsumerDetails.Address2</label></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6"><label class="col-sm-5 text-right">EnrollmentStopped</label><label class="col-sm-5 text-left fw-bold">@Model.ConsumerDetails.EnrollmentStopped</label></div>
                            <div class="col-sm-6"><label class="col-sm-5 text-right">PartnerID</label><label class="col-sm-5 text-left fw-bold">@Model.ConsumerDetails.PartnerID</label></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6"><label class="col-sm-5 text-right">ApartmentNumber</label><label class="col-sm-5 text-left fw-bold">@Model.ConsumerDetails.ApartmentNumber</label></div>
                            <div class="col-sm-6"><label class="col-sm-5 text-right">City</label><label class="col-sm-5 text-left fw-bold">@Model.ConsumerDetails.City</label></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6"><label class="col-sm-5 text-right">PoBox</label><label class="col-sm-5 text-left fw-bold">@Model.ConsumerDetails.PoBox</label></div>
                            <div class="col-sm-6"><label class="col-sm-5 text-right">StateName</label><label class="col-sm-5 text-left fw-bold">@Model.ConsumerDetails.StateName</label></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6"><label class="col-sm-5 text-right">StateAbbreviation</label><label class="col-sm-5 text-left fw-bold">@Model.ConsumerDetails.StateAbbreviation</label></div>
                            <div class="col-sm-6"><label class="col-sm-5 text-right">ZipCode</label><label class="col-sm-5 text-left fw-bold">@Model.ConsumerDetails.ZipCode</label></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6"><label class="col-sm-5 text-right">FirstName</label><label class="col-sm-5 text-left fw-bold">@Model.ConsumerDetails.FirstName</label></div>
                            <div class="col-sm-6"><label class="col-sm-5 text-right">LastName</label><label class="col-sm-5 text-left fw-bold">@Model.ConsumerDetails.LastName</label></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6"><label class="col-sm-5 text-right">Gender</label><label class="col-sm-5 text-left fw-bold">@Model.ConsumerDetails.Gender</label></div>
                            <div class="col-sm-6"><label class="col-sm-5 text-right">DOB</label><label class="col-sm-5 text-left fw-bold">@Model.ConsumerDetails.DOB</label></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6"><label class="col-sm-5 text-right">PhoneNumber</label><label class="col-sm-5 text-left fw-bold">@Model.ConsumerDetails.PhoneNumber</label></div>
                            <div class="col-sm-6"><label class="col-sm-5 text-right">MobileNumber</label><label class="col-sm-5 text-left fw-bold">@Model.ConsumerDetails.MobileNumber</label></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">                   
                    <button type="button" data-dismiss="modal" id="btnClose"  class="btn btn-light">Close</button>
                </div>
            </div>
        </div>
    
}