@using Newtonsoft.Json;

@model Brp.Models.ConsumerResponse
@{
    ViewBag.Title = "ConsumerSummary";
}


<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>

@functions{
    private DateTime DataFormat(string code)
    {
        string date = @"""" + code + @"""";
        DateTime dt = JsonConvert.DeserializeObject<DateTime>(date);
        return dt;
    }
}

<script>

    $(document).ready(function () {
        $('#detailedTable tr td').filter(function () {
            return $(this).text().indexOf('True') === 0;
        }).closest('td').html('<i class="fa fa-check has-success trf" data-toggle="tooltip" data-placement="right" title="" data-original-title="True"></i>');

        $('#detailedTable tr  td').filter(function () {
            return $(this).text().indexOf('False') === 0;
        }).closest('td').html('<i class="fa fa-times error trf" data-toggle="tooltip" data-placement="left" title="" data-original-title="False"></i>');

           $(".consumer_link").click(function () {
               $('#myModal').modal('show');
             //  var customerId = $(this).closest("tr").find("td").eq(0).html();
               $.get('@Url.Action("GetConsumerProfile", "Enrollment")', function (data) {
                   $("#myModal").append(data);
               });
             });
    });


</script>
<!--page title start-->
<div class="page-heading">
    <div class="container-fluid">
        <div class="row d-flex align-items-center">
            <div class="col-md-6">
                <div class="page-breadcrumb">
                    @*<h1> Consumer Summary</h1>*@
                    &nbsp;
                </div>
            </div>
            <div class="col-md-6 justify-content-md-end d-flex">
                <div class="breadcrumb_nav">
                    <ol class="breadcrumb">
                        <li>
                            <i class="fa fa-home"></i>
                            <a class="parent-item" href="Dashboard.html">Home</a>
                            <i class="fa fa-angle-right"></i>
                        </li>
                        <li class="active">
                            Consumer Summary
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<!--page title end-->
<div class="container-fluid">
    <!-- state start-->
    <div class="row">
        <div class=" col-sm-12">
            <div class="card card-shadow mb-4">
                <div class="card-header">
                    <div class="card-title">
                        Consumer Summary
                    </div>
                </div>
                <div class="card-body">

                    <table id="detailedTable" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Consumer Id</th>
                                <th>Partner Id</th>
                                <th>Consumer Name</th>
                                <th>Email</th>
                                <th>Registered</th>
                                <th>Demo Info Received </th>
                                <th>Redirect Complete</th>
                                <th>Bank Info Received</th>
                                <th>Identity Check Complete</th>
                                <th>Last Update</th>
                            </tr>
                            <tr>
                                <td>Consumer Id</td>
                                <td>Partner Id</td>
                                <td>Consumer Name</td>
                                <td>Email</td>
                                <td>Registered</td>
                                <td>Demo Info Received </td>
                                <td>Redirect Complete</td>
                                <td>Bank Info Received</td>
                                <td>Identity Check Complete</td>
                                <td>Last Update</td>
                            </tr>
                        </thead>
                        @if (Model.ConsumerStates != null)
                        {
                            foreach (var item in Model.ConsumerStates)
                            {
                                @*<tr class="consumer_link">*@
                                <tr class="consumer_link">
                                    <td>
                                        <a href="#" title="" data-toggle="modal" data-target="#myModal" data-original-title="Edit Variant"> @item.ConsumerId</a>
                                    </td>
                                    <td>@item.PartnerId </td>
                                    <td>@item.ConsumerName</td>
                                    <td>@item.Email </td>
                                    <td>@item.Registered </td>
                                    <td>@item.DemoInfoReceived </td>
                                    <td>@item.RedirectComplete</td>
                                    <td>@item.BankInfoReceived</td>
                                    <td>@item.IdentityCheckComplete </td>
                                    <td>@DataFormat(item.LastUpdate)</td>
                                </tr>
                            }
                        }
                        <!--<tfoot>
                            <tr>
                                <th>Name</th>
                                <th>Position</th>
                                <th>Office</th>
                                <th>Age</th>
                                <th>Start date</th>
                                <th>Salary</th>
                            </tr>
                        </tfoot>-->
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- state end-->
</div>
<!-- Modal starts -->
@*<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Consumer Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-6"><label class="col-sm-5 text-right">ScoringID</label><label class="col-sm-5 text-left fw-bold">4286</label></div>
                            <div class="col-sm-6"><label class="col-sm-5 text-right">ConsumerName</label><label class="col-sm-6 text-left fw-bold">Alberta Charleson</label></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6"><label class="col-sm-5 text-right">ConsumerEmail</label><label class="col-sm-5 text-left fw-bold">dhana0988015@hepgui.com</label></div>
                            <div class="col-sm-6"><label class="col-sm-5 text-right">ConsumerLegacyID</label><label class="col-sm-5 text-left fw-bold">110852</label></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6"><label class="col-sm-5 text-right">EnrollmentStopped</label><label class="col-sm-5 text-left fw-bold">False</label></div>
                            <div class="col-sm-6"><label class="col-sm-5 text-right">PartnerID</label><label class="col-sm-5 text-left fw-bold">127n</label></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6"><label class="col-sm-5 text-right">Address1</label><label class="col-sm-5 text-left fw-bold">2493 Leisure Lane</label></div>
                            <div class="col-sm-6"><label class="col-sm-5 text-right">Address2</label><label class="col-sm-5 text-left fw-bold">2493 Leisure Lane</label></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6"><label class="col-sm-5 text-right">EnrollmentStopped</label><label class="col-sm-5 text-left fw-bold">False</label></div>
                            <div class="col-sm-6"><label class="col-sm-5 text-right">PartnerID</label><label class="col-sm-5 text-left fw-bold">127</label></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6"><label class="col-sm-5 text-right">ApartmentNumber</label><label class="col-sm-5 text-left fw-bold">55</label></div>
                            <div class="col-sm-6"><label class="col-sm-5 text-right">City</label><label class="col-sm-5 text-left fw-bold">San Matias</label></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6"><label class="col-sm-5 text-right">PoBox</label><label class="col-sm-5 text-left fw-bold">92612</label></div>
                            <div class="col-sm-6"><label class="col-sm-5 text-right">StateName</label><label class="col-sm-5 text-left fw-bold">California</label></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6"><label class="col-sm-5 text-right">StateAbbreviation</label><label class="col-sm-5 text-left fw-bold">CA</label></div>
                            <div class="col-sm-6"><label class="col-sm-5 text-right">ZipCode</label><label class="col-sm-5 text-left fw-bold">93405</label></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6"><label class="col-sm-5 text-right">FirstName</label><label class="col-sm-5 text-left fw-bold">Alberta</label></div>
                            <div class="col-sm-6"><label class="col-sm-5 text-right">LastName</label><label class="col-sm-5 text-left fw-bold">Charleson</label></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6"><label class="col-sm-5 text-right">Gender</label><label class="col-sm-5 text-left fw-bold">Male</label></div>
                            <div class="col-sm-6"><label class="col-sm-5 text-right">DOB</label><label class="col-sm-5 text-left fw-bold">04/12/1987</label></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6"><label class="col-sm-5 text-right">PhoneNumber</label><label class="col-sm-5 text-left fw-bold">7637737396</label></div>
                            <div class="col-sm-6"><label class="col-sm-5 text-right">MobileNumber</label><label class="col-sm-5 text-left fw-bold">9980079627</label></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success">Print</button>
                    <button type="button" class="btn btn-light">Cancel</button>
                </div>
            </div>
        </div>
    </div>*@



<!-- Modal Ends -->
<!--<script>
    $(document).ready(function() {
        // Setup - add a text input to each footer cell
        $('#detailedTable thead th').each( function () {
            var title = $('#detailedTable tfoot th').eq( $(this).index() ).text();
            var title = $(this).text();
            $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
        } );

        // DataTable
        var table = $('#detailedTable').DataTable();

        // Apply the search
        table.columns().eq( 0 ).each( function ( colIdx ) {
            $( 'input', table.column( colIdx ).header() ).on( 'keyup change', function () {
                table
                    .column( colIdx )
                    .search( this.value )
                    .draw();
            } );
        } );
    } );

</script>-->
