@using Newtonsoft.Json;

@model Brp.Models.ConsumerResponse
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>

@functions{
    private DateTime DataFormat(string code)
    {
        string date = @"""" + code + @"""";
        DateTime dt = JsonConvert.DeserializeObject<DateTime>(date);
        return dt;
    }
}
<script>

    $(document).ready(function () {
        $('#detailedTable tr td').filter(function () {
            return $(this).text().indexOf('True') === 0;
        }).closest('td').html('<i class="fa fa-check has-success trf" data-toggle="tooltip" data-placement="right" title="" data-original-title="True"></i>');

        $('#detailedTable tr  td').filter(function () {
            return $(this).text().indexOf('False') === 0;
        }).closest('td').html('<i class="fa fa-times error trf" data-toggle="tooltip" data-placement="left" title="" data-original-title="False"></i>');

        $(".consumer_link").click(function () {
            $('#myModal').modal('hide');
               $('#myModal').modal('show');
               var legacyConsumerId = $(this).closest("tr").find("td").eq(2).html();
                 var id = $(this).attr("data_id");
            $.ajax({
                url: '@Url.Action("GetConsumerProfile", "Enrollment")',
                type: "post",
                dataType: "html",
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({ consumerId: legacyConsumerId }), //add parameter
                success: function (data) {
                    $("#myModal").append(data);
                },
                error: function () {
                    alert("error");
                }
            });

             });
    });


</script>

<!-- breadcrumb -->
<div class="page-heading">
    <div class="row d-flex align-items-center">
        <div class="col-md-6">
            <div class="page-breadcrumb">
                &nbsp;
            </div>
        </div>
        <div class="col-md-6 justify-content-md-end d-md-flex">
            <div class="breadcrumb_nav">
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-home"></i>
                        <a class="parent-item" href="javascript:void(0);">Home</a>
                        <i class="fa fa-angle-right"></i>
                    </li>
                    <li class="active">
                        Dashboard
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb_End -->
<!-- Section -->
<div class="container-fluid">
    <!-- state start-->
    <div class="row">
        <div class=" col-sm-12">
            <div class="card card-shadow mb-4">
                <div class="card-header">
                    <div class="card-title">
                        Dashboard
                    </div>
                </div>
                <div class="card-body">
                    <table id="detailedTable" class="BIMTable table-responsive table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Consumer Id</th>
                                <th>Partner Id</th>
                                <th>Legacy Consumer ID</th>
                                <th>Consumer Name</th>
                                <th>Email</th>
                                <th>Registered</th>
                                <th>Demo Info Received </th>
                                <th>Redirect Complete</th>
                                <th>Bank Info Received</th>
                                <th>Identity Check Complete</th>
                                <th>Last Update</th>
                                <th>Actions</th>
                            </tr>
                            <tr>
                                <td>Consumer Id</td>
                                <td>Partner Id</td>
                                <td>Legacy Consumer ID</td>
                                <td>Consumer Name</td>
                                <td>Email</td>
                                <td>Registered</td>
                                <td>Demo Info Received </td>
                                <td>Redirect Complete</td>
                                <td>Bank Info Received</td>
                                <td>Identity Check Complete</td>
                                <td>Last Update</td>
                                <td>Actions</td>
                            </tr>
                        </thead>
                        @if (Model.ConsumerStates != null)
                        {
                            foreach (var item in Model.ConsumerStates)
                            {
                                @*<tr class="consumer_link">*@
                                <tr class="consumer_link">
                                    <td>
                                        <a href="#" title="" data-toggle="modal" data-target="#myModal" data-original-title="Edit Variant"> @item.ConsumerId</a>
                                    </td>
                                    <td>@item.PartnerId </td>
                                    <td>@item.LegacyConsumerID </td>
                                    <td>@item.ConsumerName</td>
                                    <td>@item.Email </td>
                                    <td>@item.Registered </td>
                                    <td>@item.DemoInfoReceived </td>
                                    <td>@item.RedirectComplete</td>
                                    <td>@item.BankInfoReceived</td>
                                    <td>@item.IdentityCheckComplete </td>
                                    <td>@DataFormat(item.LastUpdate)</td>
                                    <td><i class="fa fa-power-off error" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Block"></i> / <i class="fa fa-exclamation-triangle has-warning" data-toggle="tooltip" data-placement="top" title="" data-original-title="Suspend"></i></td>
                                </tr>
                            }
                        }
                        <!--<tfoot>
                <tr>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Office</th>
                    <th>Age</th>
                    <th>Start date</th>
                    <th>Salary</th>
                </tr>
            </tfoot>-->
                    </table>
                </div>
                <div class="col-sm-12 col-md-12 mb-10">
                    <button type="button" class="btn btn-primary float-right">
                        More
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- state end-->
</div>